<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        {% if app.user %}
            <a class="navbar-brand" href="{{ path('sortie_list') }}"><img src="{{ asset('img/logo-sortirCom-white.png') }}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% else %}
            <a class="navbar-brand" href="{{ path('app_login') }}"><img src="{{ asset('img/logo-sortirCom-white.png') }}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}

        {% if app.user %}
            <div class="collapse navbar-collapse" id="navbarColor01" >
                <ul class="navbar-nav">

                    <!-- lien visible que par l'administrateur-->
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ville</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Campus</a>
                        </li>
                    {% endif %}

                    <!-- lien visible que par l'utilisateur authentifié-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_list') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_create') }}">Créer une sortie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile_modif') }}">Mon profil | {{ app.user.pseudo }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>

                </ul>

            </div>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>