
{% extends 'base.html.twig' %}

{% block title %}Create une nouvelle Sortie !{% endblock %}

{% block body %}
    {# <div>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button type="submit">Create sortie!</button>
    {{ form_end(sortieForm) }}
</div> #}


    <div class="container">
        <div id="sortie-card" class=" border-0 shadow rounded-3 my-3 ">
            <div class="card-body p-4 p-sm-3">

                <!-- titre du formulaire-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header bg-primary" style="text-align: center">
                            <h1>Créer une sortie</h1>
                        </div>
                    </div>
                </div>


                <div class="row p-sm-3">

                    <!-- partie gauche du formulaire-->
                    <div class="col-lg-6">
                        <div class="bs-component">
                            <table class="table">
                                <tr class="table">
                                    {{ form_start(sortieForm) }}
                                    <th scope="row">Nom de la sortie :  </th>
                                    <td>
                                        {{ form_widget(sortieForm.nom) }}
                                    </td>
                                </tr>

                                <tr class="table">
                                    <th scope="row">Date et heure de la sortie :  </th>
                                    <td>
                                        {{ form_widget(sortieForm.dateHeureDebut) }}
                                    </td>
                                </tr>

                                <tr class="table">
                                    <th scope="row">Date limite d'inscription :  </th>
                                    <td>
                                        {{ form_widget(sortieForm.dateLimiteInscription) }}
                                    </td>
                                </tr>

                                <tr class="table">
                                    <th scope="row">Nombre de places :  </th>
                                    <td>
                                        {{ form_widget(sortieForm.nbInscriptionsMax) }}
                                    </td>
                                </tr>

                                <tr class="table">
                                    <th scope="row">Durée :  </th>
                                    <td>
                                        {{ form_widget(sortieForm.duree) }}
                                    </td>
                                </tr>

                                <tr class="table">
                                    <th scope="row">Description et infos :  </th>
                                    <td>
                                        {{ form_widget(sortieForm.infosSortie) }}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>


                    <!--partie de droite du formulaire-->

                    <div class="col-lg-4 offset-lg-1">

                        <table class="table">
                            <tbody>

                            <tr class="table">
                                <th scope="row">Campus :  </th>
                                <td>
                                    {{ form_widget(sortieForm.campus) }}
                                </td>
                            </tr>

                            <tr class="table">
                                <th scope="row">Ville :  </th>
                                <td>
                                    {{ form_widget(sortieForm.ville) }}
                                </td>
                            </tr>

                            <tr class="table">
                                <th scope="row">lieu :  </th>
                                <td>
                                    {{ form_widget(sortieForm.lieu) }}
                                </td>
                            </tr>

                            <tr class="table">
                                <th scope="row">Rue :  </th>
                                <td id="rue">
                                </td>
                            </tr>

                            <tr class="table">
                                <th scope="row">Code Postal :  </th>
                                <td id="cp">
                                </td>
                            </tr>

                            <tr class="table">
                                <th scope="row">Latitude :  </th>
                                <td id="latitude">
                                </td>
                            </tr>

                            <tr class="table">
                                <th scope="row">Longitude :  </th>
                                <td id="longitude">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- le partie boutons-->

                <div class="col-lg-12 text-center">

                    {{ form_widget(sortieForm.save)}} &nbsp;
                    {{ form_widget(sortieForm.saveAndPublish)}} &nbsp;
                    <a href="{{ path('sortie_list') }}" class="btn btn-primary btn-lg" title="Annuler">Annuler</a>
                    <!-- <button class="btn btn-primary btn-lg">Annuler</button> -->
                </div>

                {{ form_end(sortieForm) }}
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    var $ville = $('#sortie_ville');
    var arrayLieuId = [];

    // When ville gets selected ...
    $ville.change(function () {
        var sortieLieu = $(this);
        villeId = sortieLieu.val()
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected ville value.
        var data = {};
        data[$ville.attr('name')] = $ville.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url: "{{ path('sortie_lieux_ville') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                ville_id: villeId
            },
            success: function (lieux) {
                $('#sortie_lieu').on('change', function () {
                    inputSortieSelectedRue = $("#rue");
                    inputSortieSelectedCp = $("#cp");
                    inputSortieSelectedLatitude = $("#latitude");
                    inputSortieSelectedLongitude = $("#longitude");
                    // Empty input
                    inputSortieSelectedRue.html('');
                    inputSortieSelectedCp.html('');
                    inputSortieSelectedLatitude.html('');
                    inputSortieSelectedLongitude.html('');
                    // get value id lieu selected and use for acces to lieu of liex array and get data
                    var lieuSelectedId = lieuSelect.find("option:selected").val();

                    inputSortieSelectedRue.append('<input type="text" name="rue" value="' + lieux[arrayLieuId[lieuSelectedId]].rue + '" />');
                    inputSortieSelectedLatitude.append('<input type="text" name="latitude" value="' + lieux[arrayLieuId[lieuSelectedId]].latitude + '" />');
                    inputSortieSelectedLongitude.append('<input type="text" name="longitude" value="' + lieux[arrayLieuId[lieuSelectedId]].longitude + '" />');
                    inputSortieSelectedCp.append('<input type="text" name="code_postal" value="' + lieux[arrayLieuId[lieuSelectedId]].code_postal + '" />');
                });

                var lieuSelect = $("#sortie_lieu");

                var inputfieldLieu =  $("#sortie_lieu");
                // Remove current options
                lieuSelect.html('');

                // Empty value ...
                lieuSelect.append('<option value> Select a lieu de ' + sortieLieu.find("option:selected").text() + ' ...</option>');

                $.each(lieux, function (key, lieu) {
                    // Save the position of lieu in to the array of lieux with the key lieu.id
                    arrayLieuId[lieu.id] = key;
                    lieuSelect.append('<option value="' + lieu.id + '">' + lieu.nom + '</option>');
                });
            },
            error: function (err) {
                alert("Un erreur s'est produit lors du chargement des données ...");
            }
        });
    });
</script>

{% endblock %}
